@import "sign_in_page.css";


.centredModalView {
    height: 395px;
}

@media (min-width: 340px) and (max-width: 600px) {
    .centredModalView {
        height: 385px;
        width: 280px;
    }
}

@media (max-width: 340px) {
    .centredModalView {
        height: 365px;
        width: 220px;
    }
}
