<th:block th:fragment="masterHead" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link rel="stylesheet" th:href="@{/style/master.css}"/>
</th:block>

<th:block th:fragment="liquids" xmlns:th="http://www.thymeleaf.org">
    <div class="liquid" id="largeLeftLiquid"></div>
    <div class="liquid" id="largeRightLiquid"></div>
    <div class="liquid" id="mediumLiquid"></div>
    <div class="liquid" id="mediumTopCenterLiquid"></div>
    <div class="liquid" id="mediumLeftTopLiquid"></div>
    <div class="liquid" id="smallLiquid"></div>
    <div class="liquid" id="largeRightBottomLiquid"></div>
    <div class="liquid" id="tinyLiquid"></div>
    <div class="liquid" id="tinyLeftTopLiquid"></div>
    <div class="liquid" id="smallCenterLiquid"></div>
</th:block>

<th:block th:fragment="liquid_animation" xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{/script/master/liquid_animation.js}" type="text/javascript"></script>
</th:block>