<div id="musicPlayerWrapper" th:fragment="music_player_contaner" xmlns:th="http://www.thymeleaf.org">
    <div id="musicPlayer">
        <img class="playerElement" id="trackIcon">
        <div class="playerElement" id="trackInfoWrapper">
            <h4 id="sessionTitle"></h4>
            <h4 id="trackTitle"></h4>
        </div>
        <div class="playerElement" id="progressBar">
            <div id="progressBarIndicator"></div>
        </div>
        <div class="playerElement" id="musicManager">
            <svg id="prevTrack" viewBox="0 0 22.8 16">
                <path d="M.17 8.327l10.8 7.6a.4.4 0 0 0 .63-.327V8.489l10.57 7.433a.4.4 0 0 0 .63-.327V.4a.4.4 0 0 0-.216-.355A.408.408 0 0 0 22.4 0a.4.4 0 0 0-.23.073L11.6 7.511V.4a.4.4 0 0 0-.63-.327l-10.8 7.6a.4.4 0 0 0 0 .654z"></path>
            </svg>
            <svg id="playTrack" viewBox="0 0 12.8 14.86">
                <path d="M.463.1a1.077 1.077 0 0 1 .92 0l10.96 6.661a.712.712 0 0 1 0 1.332l-10.96 6.661a1.079 1.079 0 0 1-.919 0 .758.758 0 0 1-.46-.666V.769A.757.757 0 0 1 .463.1z"></path>
            </svg>
            <svg id="nextTrack" viewBox="0 0 22.8 16">
                <path d="M22.63 7.673l-10.8-7.6A.4.4 0 0 0 11.2.4v7.111L.63.078A.4.4 0 0 0 0 .405V15.6a.4.4 0 0 0 .216.355A.408.408 0 0 0 .4 16a.4.4 0 0 0 .23-.073L11.2 8.489V15.6a.4.4 0 0 0 .63.327l10.8-7.6a.4.4 0 0 0 0-.654z"></path>
            </svg>
        </div>
        <span class="playerElement" id="trackTiming"></span>
    </div>
</div>
