<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Workspace</title>
    <meta th:replace="fragments/master :: masterHead"></meta>
    <link rel="stylesheet" th:href="@{/style/elements/music_player.css}">
    <link rel="stylesheet" th:href="@{/style/elements/header.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/master :: liquids"></div>
<div th:replace="fragments/music_player :: music_player_contaner"></div>
</body>
<script th:replace="fragments/master :: liquid_animation"></script>
</html>