.centredModalView {
    height: 345px;
    width: 325px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    padding-bottom: 5px;
    background-color: #262636;
    border-radius: 25px;
    z-index: 1000;
}
