.centredModalView {
    height: 50%;
    max-height: 396px;
    min-height: 250px;
    width: 60%;
    max-width: 325px;
    min-width: 220px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
    padding-bottom: 5px;
    background-color: #262636;
    border-radius: 25px;
    z-index: 1000;
}

@media (max-width: 760px) {
    .centredModalView {
        height: 289px;
    }
}

/*379px под регистрацию*/