#header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    z-index: 5000;
    opacity: 0.8;
    backdrop-filter: blur(5px);
    box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.34);
    background-color: #1e1e30;
}
