.listItem {
    display: inline-block;
    height: 200px;
    width: 150px;
    margin: 5px 2px;
    background-color: #262636;
    border-radius: 20px;
    opacity: 0.8;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.listItem:active {
    background-color: #4EB8E0;
}

.listItemImage {
    position: relative;
    display: inline-block;
    height: 130px;
    width: 130px;
    top: 10px;
    border-radius: 20px;
}
