.listItem {
    display: inline-block;
    height: 196px;
    width: 150px;
    margin: 5px 2px;
    background-color: #262636;
    border-radius: 20px;
    opacity: 0.8;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    overflow: hidden;
}

.listItem:active {
    background-color: #4EB8E0;
}

.listItemImage {
    position: relative;
    display: inline-block;
    height: 130px;
    width: 130px;
    top: 10px;
    border-radius: 20px;
}

.listItemTitle {
    margin-top: 15px;
    height: 40px;
    max-height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 18px;
}
