@import "list_item.css";


.workspace {
    position: fixed;
    top: 50px;
    z-index: 500;
    height: 100%;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
    overflow: auto;
    overflow-x: hidden;
    text-align: center;
}

.workspaceHead {
    position: relative;
    height: 30%;
    width: 70%;
    left: 50%;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(to right, #134e5e, #71b280);
    background: linear-gradient(to right, #134e5e, #71b280);
    opacity: 0.8;
    backdrop-filter: blur(5px);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    transform: translate(-50%);
}

#title {
    position: absolute;
    left: 4%;
    top: 10%;
    font-size: 40px;
}

#edit {
    position: absolute;
    right: 20px;
    bottom: 45px;
    height: 25px;
    width: 25px;
    border-radius: 85px;
}

#edit > svg {
    height: 15px;
    width: 15px;
}

#add {
    position: absolute;
    right: 60px;
    bottom: 35px;
    height: 42px;
    width: 144px;
}

::-webkit-scrollbar {
    width: 0px;
}

@media (max-width: 760px) {
    .workspace {
        width: 100%;
        left: 0px;
        transform: none;
    }

    .workspaceHead {
        left: 0px;
        width: 100%;
        height: 127px;
        transform: none;
        margin-bottom: 5px;
    }

    #title {
        font-size: 30px;
    }

    #add {
        right: 50px;
        bottom: 15px;
        height: 35px;
        width: 120px;
    }

    #edit {
        right: 16px;
        bottom: 20px;
    }
}
